<div *ngIf="loading" class="text-center">Loading videos...</div>

<div class="row" *ngIf="!loading && videos.length">
  <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let video of videos">
    <div class="card mb-4">
      <img [src]="video.thumbnailUrl" [title]="video.title" width="256" height="256" class="card-img-top" alt="thumbnail" />
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">{{ video.description | slice:0:160 }}<span *ngIf="video.description && video.description.length > 160">…</span></p>
        <p class="card-text">
          <small class="text-muted">
            <ng-container *ngFor="let c of video.categories; let i = index">
              {{ c }}<span *ngIf="i < video.categories.length - 1">, </span>
            </ng-container>
          </small>
        </p>
        <a [routerLink]="['/stream', video.id]" class="btn btn-sm btn-outline-primary">Watch</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && !videos.length" class="text-center">
  <p>No videos have been uploaded yet.</p>
</div>