<div *ngIf="loading" class="text-center">
  Loading video...
</div>

<div *ngIf="!loading && video">
  <h2>{{ video.title }}</h2>
  <video width="100%" height="480" controls>
    <source [src]="video.videoUrl" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <p class="mt-2">{{ video.description }}</p>
  <p><small>
    Categories:
    <ng-container *ngFor="let c of video.categories; let i = index">
      {{ c }}<span *ngIf="i < video.categories.length - 1">, </span>
    </ng-container>
  </small></p>
</div>

<div *ngIf="!loading && !video" class="text-center">
  Video not found.
</div>